{% extends "base_alt.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block messages_container %}
    <div></div>
{% endblock messages_container %}

{% block content %}
    <div class="auth">
        <div class="auth-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <img height="40" src="{% static 'img/logo_iq96r.png' %}"> Clinica
                    </h1>
                </header>
                <div class="auth-content">
                    <p class="text-center">{% trans "Sign In" %}</p>
                    <form class="login-form" autocomplete="off" method="POST" action="{% url 'account_login' %}" novalidate>
                        {% include "snippets/_form_non_field_errors.html" %}
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.login|as_crispy_field }}
                        </div>
                        <div class="form-group">

                            {{ form.password|as_crispy_field }}
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-group">
                            <label for="remember">
                            </label>
                            <a href="{% url 'account_reset_password' %}" class="forgot-btn pull-right">{% trans "Forgot Password?" %}</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}