{% extends "base_alt.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block styles %}
    <style>
        .auth-container .auth-content {
            min-height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <img height="40" src="{% static 'img/logo_iq96r.png' %}"> Clinica
                    </h1>
                </header>
                <div class="auth-content">
                    <p class="text-center"><b>{% trans "Sign Out" %}</b></p>
                    <p class="text-muted text-center">
                        ¿Estas seguro de cerrar sesión y salir de la aplicación?
                    </p>
                    <form class="login-form" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="fa fa-exclamation-triangle"></i> {% trans "Sign Out" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center">
                <a href="{% url 'main_app:index' %}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-arrow-left"></i> Regresar al Inicio
                </a>
            </div>
        </div>
    </div>
{% endblock %}