{% extends "base_alt.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Reset My Password" %}{% endblock %}

{% block content %}
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <img height="40" src="{% static 'img/logo_iq96r.png' %}"> Clinica
                    </h1>
                </header>
                <div class="auth-content">
                    <p class="text-center">{% trans "Reset My Password" %}</p>
                    <p class="text-muted text-center">
                        <small>Ingresa tu dirección de correo electrónico y te enviaramos un correo electronico para que puedas reiniciarla.</small>
                    </p>
                    <form class="login-form" autocomplete="off" method="POST" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        {% include "snippets/_form_non_field_errors.html" %}

                        <div class="form-group">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Reiniciar</button>
                        </div>
                        <div class="form-group clearfix">
                            <a class="pull-left" href="{% url 'account_login' %}">Regresar a Inicio de Sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}