{% extends 'main_app/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="dashboard-page">
        <section class="section">
            <div class="row sameheight-container">
                <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                    <div class="card sameheight-item stats" data-exclude="xs">
                        <div class="card-block">
                            <div class="title-block">
                                <h4 class="title"> Estadisticas </h4>
                                <p class="title-description"> Website metrics for
                                    <a href="#"> your awesome project </a>
                                </p>
                            </div>
                            <div class="row row-sm stats-container">
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> 5407 </div>
                                        <div class="name"> Activos </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 75%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> 78464 </div>
                                        <div class="name"> Vendidos </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 25%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-line-chart"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> $80.560 </div>
                                        <div class="name"> Ingreso Mensual </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 60%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> 359 </div>
                                        <div class="name"> Usuarios totales </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 34%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-list-alt"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> 59 </div>
                                        <div class="name"> Tiquetes cerrados </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 49%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-dollar"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> $780.064 </div>
                                        <div class="name"> Total de Ingresos </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 15%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-xl-7 history-col">
                    <div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
                        <div class="card-header card-header-sm bordered">
                            <div class="header-block">
                                <h3 class="title">Historial</h3>
                            </div>
                            <ul class="nav nav-tabs pull-right" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#visits" role="tab" data-toggle="tab">Visitas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#downloads" role="tab" data-toggle="tab">Descargas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active fade show" id="visits">
                                    <p class="title-description"> Numero de visitas unicas durante los ultimos 30 días </p>
                                    <div id="dashboard-visits-chart"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="downloads">
                                    <p class="title-description"> Numero de descargas durante los ultimos 30 días </p>
                                    <div id="dashboard-downloads-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="row sameheight-container">
                <div class="col-xl-8">
                    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                        <div class="card-header bordered">
                            <div class="header-block">
                                <h3 class="title"> Productos </h3>
                                <a href="item-editor.html" class="btn btn-primary btn-sm"> Agregar </a>
                            </div>
                            <div class="header-block pull-right">
                                <label class="search">
                                    <input class="search-input" placeholder="Buscar...">
                                    <i class="fa fa-search search-icon"></i>
                                </label>
                                <div class="pagination">
                                    <a href="" class="btn btn-primary btn-sm">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a href="" class="btn btn-primary btn-sm">
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <ul class="item-list striped">
                            <li class="item item-list-header">
                                <div class="item-row">
                                    <div class="item-col item-col-header fixed item-col-img xs"></div>
                                    <div class="item-col item-col-header item-col-title">
                                        <div>
                                            <span>Nombre</span>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-header item-col-sales">
                                        <div>
                                            <span>Ventas</span>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-header item-col-stats">
                                        <div class="no-overflow">
                                            <span>Estadisticas</span>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-header item-col-date">
                                        <div>
                                            <span>Publicado</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-row">
                                    <div class="item-col fixed item-col-img xs">
                                        <a href="">
                                            <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg)"></div>
                                        </a>
                                    </div>
                                    <div class="item-col item-col-title no-overflow">
                                        <div>
                                            <a href="" class="">
                                                <h4 class="item-title no-wrap"> 12 Myths Uncovered About IT &amp; Software </h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-sales">
                                        <div class="item-heading">Sales</div>
                                        <div> 4958 </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Stats</div>
                                        <div class="no-overflow">
                                            <div class="item-stats sparkline" data-type="bar"></div>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-date">
                                        <div class="item-heading">Published</div>
                                        <div> 21 SEP 10:45 </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-row">
                                    <div class="item-col fixed item-col-img xs">
                                        <a href="">
                                            <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg)"></div>
                                        </a>
                                    </div>
                                    <div class="item-col item-col-title no-overflow">
                                        <div>
                                            <a href="" class="">
                                                <h4 class="item-title no-wrap"> 50% of things doesn&#x27;t really belongs to you </h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-sales">
                                        <div class="item-heading">Sales</div>
                                        <div> 192 </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Stats</div>
                                        <div class="no-overflow">
                                            <div class="item-stats sparkline" data-type="bar"></div>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-date">
                                        <div class="item-heading">Published</div>
                                        <div> 21 SEP 10:45 </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-row">
                                    <div class="item-col fixed item-col-img xs">
                                        <a href="">
                                            <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg)"></div>
                                        </a>
                                    </div>
                                    <div class="item-col item-col-title no-overflow">
                                        <div>
                                            <a href="" class="">
                                                <h4 class="item-title no-wrap"> Vestibulum tincidunt amet laoreet mauris sit sem aliquam cras maecenas vel aliquam. </h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-sales">
                                        <div class="item-heading">Sales</div>
                                        <div> 2143 </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Stats</div>
                                        <div class="no-overflow">
                                            <div class="item-stats sparkline" data-type="bar"></div>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-date">
                                        <div class="item-heading">Published</div>
                                        <div> 21 SEP 10:45 </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-row">
                                    <div class="item-col fixed item-col-img xs">
                                        <a href="">
                                            <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/why_this/128.jpg)"></div>
                                        </a>
                                    </div>
                                    <div class="item-col item-col-title no-overflow">
                                        <div>
                                            <a href="" class="">
                                                <h4 class="item-title no-wrap"> 10 tips of Object Oriented Design </h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-sales">
                                        <div class="item-heading">Sales</div>
                                        <div> 124 </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Stats</div>
                                        <div class="no-overflow">
                                            <div class="item-stats sparkline" data-type="bar"></div>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-date">
                                        <div class="item-heading">Published</div>
                                        <div> 21 SEP 10:45 </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-row">
                                    <div class="item-col fixed item-col-img xs">
                                        <a href="">
                                            <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/w7download/128.jpg)"></div>
                                        </a>
                                    </div>
                                    <div class="item-col item-col-title no-overflow">
                                        <div>
                                            <a href="" class="">
                                                <h4 class="item-title no-wrap"> Sometimes friend tells it is cold </h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-sales">
                                        <div class="item-heading">Sales</div>
                                        <div> 10214 </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Stats</div>
                                        <div class="no-overflow">
                                            <div class="item-stats sparkline" data-type="bar"></div>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-date">
                                        <div class="item-heading">Published</div>
                                        <div> 21 SEP 10:45 </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-row">
                                    <div class="item-col fixed item-col-img xs">
                                        <a href="">
                                            <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/pankogut/128.jpg)"></div>
                                        </a>
                                    </div>
                                    <div class="item-col item-col-title no-overflow">
                                        <div>
                                            <a href="" class="">
                                                <h4 class="item-title no-wrap"> New ways of conceptual thinking </h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-sales">
                                        <div class="item-heading">Sales</div>
                                        <div> 3217 </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Stats</div>
                                        <div class="no-overflow">
                                            <div class="item-stats sparkline" data-type="bar"></div>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-date">
                                        <div class="item-heading">Published</div>
                                        <div> 21 SEP 10:45 </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg">
                        <div class="card-header">
                            <div class="header-block">
                                <h3 class="title"> Desglose de Ventas </h3>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="dashboard-sales-breakdown-chart" id="dashboard-sales-breakdown-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section map-tasks">
            <div class="row sameheight-container">
                <div class="col-md-8">
                    <div class="card sameheight-item" data-exclude="xs,sm">
                        <div class="card-header">
                            <div class="header-block">
                                <h3 class="title"> Ventas por país </h3>
                            </div>
                        </div>
                        <div class="card-block">
                            <div id="dashboard-sales-map" style="width: 100%; height: 400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card tasks sameheight-item" data-exclude="xs,sm">
                        <div class="card-header bordered">
                            <div class="header-block">
                                <h3 class="title"> Tareas </h3>
                            </div>
                            <div class="header-block pull-right">
                                <a href="" class="btn btn-primary btn-sm rounded pull-right"> Add new </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="tasks-block">
                                <ul class="item-list">
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox" checked="checked">
                                                    <span>Encontrarse con un embajador</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox" checked="checked">
                                                    <span>Confesion</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Tiempo para empezar a construir</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Hora de la refaccion</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox" checked="checked">
                                                    <span>Encontrarse con alguien</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Recordar la dirección</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Ir a casa</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox" checked="checked">
                                                    <span>Encontrarse con un embajador</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox" checked="checked">
                                                    <span>Confesion</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Tiempo para empezar a construir</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Hora de la refaccion</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox" checked="checked">
                                                    <span>Encontrarse con alguien</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Recordar la dirección</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            <div class="item-col item-col-title">
                                                <label>
                                                    <input class="checkbox" type="checkbox">
                                                    <span>Ir a casa</span>
                                                </label>
                                            </div>
                                            <div class="item-col fixed item-col-actions-dropdown">
                                                <div class="item-actions-dropdown">
                                                    <a class="item-actions-toggle-btn">
                                                                    <span class="inactive">
                                                                        <i class="fa fa-cog"></i>
                                                                    </span>
                                                        <span class="active">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                    </span>
                                                    </a>
                                                    <div class="item-actions-block">
                                                        <ul class="item-actions-list">
                                                            <li>
                                                                <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="check" href="#">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="edit" href="item-editor.html">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}