/*input.form-control.is-invalid, input.form-control.is-invalid:focus, select.select.form-control.is-invalid, select.select.form-control.is-invalid:focus{*/
    /*border-color: #f4516c;*/
/*}*/

table.dataTable {
    border-collapse: collapse !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    white-space: normal;
}

.dataTablesWidth{
    width: 100% !important;
}

.table th, .table td {
    padding: 0.25rem 0.35rem;
    vertical-align: middle;
}

.table td .btn {
    margin-bottom: 0;
    padding: .375rem .475rem;
}

.container-fluid {
    width: auto !important;
}

.btn {
    padding: .532rem .75rem;
}

.close {
    color: #333333;
}

.modal .modal-content {
    border-radius: 0.3rem;
}

.pagination .page-item .page-link {
    text-decoration: none;
}

.login-form .form-control {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #d7dde4;
}

.login-form .form-control:focus {
    border-bottom: 1px solid #00a7f9;
}

.login-form .form-control.is-invalid, .login-form .form-control.is-invalid:focus {
    border-bottom: 1px solid #dc3545;
}

.select2-container--bootstrap4 .select2-selection--single {
    padding: .70rem 1.125rem .70rem .375rem;
}

label.error {
    color: #dc3545;
}

.alert button.close {
    color: #ffffff !important;
}

.text-strong {
    font-weight: bold;
}