{% load crispy_forms_tags %}

<form method="post" action="{{ action }}" autocomplete="off" novalidate>
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
        </button>
    </div>
    <div class="modal-body">
        {% include "snippets/_form_non_field_errors.html" %}
        {% crispy form %}
    </div>
    <div class="modal-footer">
        {% if object.id %}
            <button type="submit" class="btn btn-warning">
                <i class="fa fa-pencil"></i> Editar
            </button>
        {% else %}
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Guardar
            </button>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fa fa-times"></i> Cancelar
        </button>
    </div>
</form>