<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="form-modal-content" class="modal-content">
        </div>
    </div>
</div>