<!--begin: Search Form -->
<div class="row container-fluid">
    <div class="col-sm-12 col-md-5">
        <div class="input-group">
            <input id="search" type="text" class="form-control" placeholder="Buscar....." aria-label="Buscar">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 offset-sm-0 col-md-5 offset-md-2 text-right">
        <a id="add-link" href="{{ create_url }}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {{ button_text|default:"Nuevo" }}
        </a>
    </div>
</div>
<!--end: Search Form -->