{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>IQ' ERP | {% block head_title %} Bienvendio {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link href="{% static 'css/vendor.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app-custom.css' %}" id="theme-style" rel="stylesheet" type="text/css">
    <link href="{% static 'toastr/build/toastr.min.css' %}" rel="stylesheet" type="text/css">

    <script>
        var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
            {};
        var themeName = themeSettings.themeName || '';
        if (themeName)
        {
            document.write('<link rel="stylesheet" id="theme-style" href="/static/css/app-' + themeName + '.css">');
        }
        else
        {
            document.write('<link rel="stylesheet" id="theme-style" href="{% static 'css/app-custom.css' %}">');
        }
    </script>

    {% block styles %}
    {% endblock styles %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_scripts %}
    {% endblock head_scripts %}
</head>
<body>
<!-- begin:: Page -->
<div class="main-wrapper">
    <div class="app" id="app">
        <!-- BEGIN: Header -->
        {% include '_navbar.html' %}
        <!-- END: Header -->
        <!-- BEGIN: Aside -->
        {% include '_aside.html' %}
        <!-- END: Aside -->
        <!-- Begin: Body -->
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
        <div class="mobile-menu-handle"></div>
        <article class="content">
            {% block title_block %}
            {% endblock %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </article>
        <!-- END: Body -->
        <!-- begin::Footer -->
        <footer class="footer">
            <div class="footer-block author">
                <ul>
                    <li> {% now "Y" %} &copy; IQ' ERP desarrollado por
                        <a href="http://www.iqsd.co" target="_blank">
                            IQ' Software Development
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- end::Footer -->
    </div>
</div>
<!-- end:: Page -->

<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>

<!--begin::Base Scripts -->
<script src="{% static 'js/vendor.js' %}" type="text/javascript"></script>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}" type="text/javascript"></script>
<script src="{% static 'toastr/build/toastr.min.js' %}" type="text/javascript"></script>
<!-- Javascript custom -->
{% block scripts %}
{% endblock scripts %}
</body>
</html>